*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    color: rgb(87, 74, 74);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
img {
    border-radius: 50%;
    cursor: pointer;
}

h1{
    margin-bottom: 1rem;
}